:root{
    --green-color: #D4FDDD;
    --button-color: #7FE87C;
}
*{
    font-family: 'Sans' sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
}
h1{
    font-size: 48px;
    text-align: center;
    margin: 80px 0;
}
h2{
    font-size: 24px;
    text-align: center;
    margin-top: 175px;
    margin-bottom: 70px;
}
h3{
    font-size: 36px;
    text-align: center;
    margin: 200px 0 58px 0;
}
h4{
    font-size: 13px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-content p{
    font-size: 24px;
    width: 380px;
}
.main-content img{
    width: 480px;
    border-radius: 10px;
}