/*Начальные стили*/
:root{
    --green-color: #D4FDDD;
    --button-color: #7FE87C;
}
*{
    font-family: 'Sans' sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
}
/*Стили для заголовков*/
h1{
    font-size: 48px;
    text-align: center;
    margin: 80px 0;
}
h2{
    font-size: 24px;
    text-align: center;
    margin-top: 175px;
    margin-bottom: 70px;
}
h3{
    font-size: 36px;
    text-align: center;
    margin: 200px 0 58px 0;
}
h4{
    font-size: 13px;
    color: white;
    margin-top: -70px;
    padding: 5px;
}
h5{
    font-size: 20px;
    margin-top: 80px;
}
/*Навигация*/
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.nav li {
    font-size: 20px;
}
.nav li a{
    text-decoration: none;
    color: black;
}
.nav li a:hover{
    color: #7FE87C;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.main-content p{
    font-size: 24px;
    width: 380px;
}
.main-content img{
    width: 480px;
    max-width: 100%;
    border-radius: 10px;
}

/*Стили блока Шаги бронирования*/
.step-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.step-content li{
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    list-style: none;
    width: 229px;
    font-size: 20px;
}
/*Блок о компании*/
.about p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
}
/*Отзывы*/
.review-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review__content{
    width: 300px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}
.review__comment p{
    font-size: 20px;
}

/*Поиск кемпингов*/
.search-form__content-input{
    text-align: center;
}
input{
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
}
input[type="button"], button{
    padding: 16px 100px;
    background-color: var(--button-color);
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}
input[type="number"]{
    padding: 17px 100px 17px 10px;
}

.search-form__button{
    text-align: center;
    margin-top: 50px;
}
.stock-content-1 img{
    width: 298px;
}
.stock-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.stock-content-1{
    width: 298px;
}
.stock-content-1 p{
    font-size: 13px;
}
.stock-content-1 img{
    border-radius: 10px;
    height: 163px;
}
hr{
    margin-top: 30px;
    margin-bottom: 12px;
}
details{
    margin-top: 20px;
}
summary{
    border: 1px solid #7FE87C;
    padding: 10px;
}
.subscription{
    text-align: center;
}
footer {
    margin-top: 160px;
    padding: 40px 0;
    background-color: #D4FDDD;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*Страница с результатами поиска кемпингов*/
.caping{
    margin-top: 56px;
}
.camping-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.camping-content-1 img{
    width: 380px;
    border-radius: 10px;
}
.camping-conten-2 {
    width: 516px;
}
.camping-conten-2 ul{
    list-style: none;
}
.vivrat{
    padding: 9px 116px;
    margin-top: 77px;
    border-radius: 10px;
    background-color: var(--green-color);
}
/*Страница выбора дома-бочки в кемпинге*/
.main-seat p{
    font-size: 20px;
    margin-bottom: 50px;
}
.seat-content{
    display: flex;
    justify-content: space-between
}
.seat-content-1{
    width: 244px;
}
.seat-content li{
    list-style: none;
    margin-bottom: 19px;
}
.img-scheme{
    display: flex;
    justify-content: space-between;
}
.img-scheme img{
    width: 281px;
}
.img-scheme img:hover{
    border: 2px #7FE87C solid;
}
/*Страница бронирования*/
.add-people input{
    padding: 5px;
}
.add-people p{
    margin-top: 76px;
}
.result input{
    padding: 10px;
    margin-top: 50px;
}
.services{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.result{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}